body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", "Sans Serif";
  background-color: #2a324b;
  overflow: hidden;
}

.row {
  margin: 0;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

h1.abt-title,
h1.wrk-title,
h1.cnt-title {
  font-family: "Montserrat", "Sans Serif";
  font-weight: 600;
  font-size: 45pt;
  margin: 1rem 0;
}

h1.abt-title,
h1.cnt-title {
  color: #496a81;
}

h1.wrk-title {
  color: #2a324b;
}

h1.cnt-title {
  margin-left: 20%;
}

h2 {
  color: #c7ccdb;
  font-size: 36pt;
}

.home-title {
  color: #496a81;
  font-size: 36pt;
}

span.home-desc,
span.abt-desc {
  font-size: 28pt;
}

span.home-desc {
  color: #2a324b;
}

span.abt-desc {
  display: inline-block;
  padding: 1rem 4rem;
  color: #e1e5ee;
  border-left: 4px solid #496a81;
}

span.os-title {
  color: #e1e5ee;
  font-size: 20pt;
  width: 100%;
  text-align: center;
}

span.wrk-desc {
  color: #767b91;
  font-size: 20pt;
}

.home {
  background-color: #e1e5ee;
  padding: 5rem 0;
}

.welcome,
.pengwing,
.intro {
  max-width: calc(100% / 3.5);
}

.welcome {
  color: #2a324b;
  font-size: 36pt;
  text-align: right;
}

.pengwing {
  padding: 0 24px;
}

.animation {
  position: relative;
  overflow: hidden !important;
  height: 50px;
}

.animation-1 .wave {
  position: absolute;
  top: -60px;
}

.animation-2 .wave {
  position: absolute;
  top: 10px;
}

.bottom {
  position: relative;
  height: 100px;
  width: 100%;
  top: -50px;
  margin-bottom: -100px;
}

.nav-link {
  font-family: "Montserrat", "Sans Serif";
  color: #e1e5ee;
  font-size: 20pt;
  margin: 0 0.5rem;
  transition: all 0.1s ease-in-out;
}

.nav-link:hover {
  text-decoration: none;
  color: #111626;
  font-weight: 600;
}

.about {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2a324b;
}

.about .anchor {
  filter: invert(95%) sepia(3%) saturate(555%) hue-rotate(187deg) brightness(97%) contrast(93%);
}

.os-icon {
  margin: 2rem 1rem;
  transition: all 0.1s ease-in-out;
}

.os-icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

.pill {
  display: inline-block;
  background-color: #496a81;
  color: #203d52;
  border-radius: 30px;
  margin: 0.3rem;
  padding: 8px 15px;
  font-size: 15pt;
  font-weight: bold;
  font-family: "Montserrat", "Sans Serif";
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.pill:hover {
  background-color: #e1e5ee;
  color: #2a324b;
}

.work {
  background-color: #c7ccdb;
  padding-top: 5rem;
  padding-bottom: 7rem;
  /* background-image: linear-gradient(360deg, #93a5cf 0%, #c7ccdb 100%); */
}

.sample-img {
  height: 600px;
  margin: 2rem 0 3.5rem 0 !important;
}

.view-more {
  display: none;
  background-color: #767b91;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 18pt;
  padding: 8px 16px;
}

.view-more:hover {
  cursor: pointer;
  background-color: rgb(96, 101, 126);
}

.contact {
  background-color: #ffffff;
  padding-top: 1rem;
}

span.cnt-label {
  font-size: 20pt;
  color: #496a81;
}

span.cnt-val {
  font-size: 30pt;
  color: #767b91;
}

.social {
  margin: 5rem 0.5rem 1rem 0.5rem;
  height: 30px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  filter: invert(55%) sepia(12%) saturate(610%) hue-rotate(191deg) brightness(85%) contrast(82%);
}

.social:hover {
  opacity: 0.5;
}

span.footer {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

/* flickity */

.gallery {
  background: transparent;
}

.gallery-cell {
  width: 75%;
  height: 600px;
  margin-right: 10px;
  counter-increment: gallery-cell;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.flickity-page-dots {
  bottom: -30px;
}

#sample1 {
  background-image: url("../res/images/web-samples/web1-1.PNG");
}

#sample2 {
  background-image: url("../res/images/web-samples/web2.PNG");
}

#sample3 {
  background-image: url("../res/images/web-samples/web3-2.PNG");
}

#sample4 {
  background-image: url("../res/images/web-samples/web5-2.PNG");
}

#sample5 {
  background-image: url("../res/images/web-samples/mob1.png");
}

#sample6 {
  background-image: url("../res/images/web-samples/web6-prev.png");
}

.scroll-top {
  position: fixed;
  bottom: 30%;
  right: 5%;
}

.scroll-top-btn {
  visibility: hidden;
  border: none;
  background-color: #2a324b;
  color: #ffffff;
  border-radius: 50%;
  box-shadow: 3px 3px 3px #dddddd;
  padding: 1rem 1.2rem;
  cursor: pointer;
  transition: visibility 0s, opacity 0.2s ease-in-out;
  opacity: 0;
}

.scroll-top-btn:hover {
  opacity: 0.8;
}

button:focus {
  outline: 0;
}


/* Not working?? */
@media screen and (max-width: 411px) {

  .gallery-cell {
    height: 400px !important;
  }

  .sample-img {
    height: 400px !important;
  }

  .bottom {
    top: -30px !important;
  }

}